<h2>Welcome</h2>
<p>I am a teacher and teacher educator from New England who approaches life with a bit of uncontrolled enthusiasm balanced out with a heafty dose of snark.</p>

<h2>Where to find me</h2>
<ul>
  <li><a href="https://seekthejoy.com" target="_blank">Seek the Joy</a> (blog)</li>
  <li>Go Seek <a href="https://goseek.substack.com/" target="_blank"></a>(upcomming newsletter)</li>
  <li>Old <a href="https://ericlaurits.popsy.site" target="_blank">photography</a> archive</li>
</ul>

<h2>3 Word Philosophies</h2>
<p>Learning is social,
Silly honest kind,
Teaching is differentiation,
Vital > Inclusive,
Reflect, reflect, reflect,
Notice name frame,
Community is vital,
Social-emotional first,
So what’s next?,
Lead from within,
Voice and choice,
Eat more bread.</p>

<p>Currently our family is in foreign service in Nairobi, Kenya. I am building a schooling framework. At some point we will return to the US. 🇰🇪</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:eric@ericlaurits.com">Reach Out</a>
  </li>
   <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/ericlaurits" target="_blank">Personal Images</a>
  </li>
   <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/ericlaurits" target="_blank">Professional Profile</a>
     </li>
    <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/ericlaurits" target="_blank">Sort Of</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file-user fa-lg main-list-item-icon"></span>
    <a href="/eric-laurits-resume.pdf" target="_blank">CV</a>
  </li>
</ul>
